.btn{
    border: 0.75px solid $color-black;
    background-color: rgba(255,255,255,0);
    width: 19.375rem;
    height: 7.5rem;
    font-family: $font-base, Light;
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    line-height: 2.8125rem;
    letter-spacing: 0px;
    cursor: pointer;
    
    &__primary{
        text-decoration: none;
        color: $color-black;

    }

    &__pagination{
        border: 0.75px solid $color-black;
        background-color: rgba(255,255,255,0);
        height: 3.125rem;
        width: 8rem;
        font-size: 1.125rem;
        font-family: $font-base, Light;
        //font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;

        &-secondary{
            background-color: rgba(255,255,255,0);
            height: 3.125rem;
            width: 2.5rem;
            border:none;
            font-size: 1.125rem;
            font-family: $font-base, Light;
            //font-weight: 300;
        }
    }
    
}
