.contact{
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../../assets/Background-Contact-Form.jpg);
    background-repeat: no-repeat;
    // display: flex;
    // justify-content: flex-end;

    &__box{
        display: flex;
        justify-content: flex-end;

    }

    &__column{
        width: 34.6875rem;
    }

    &__section{
        height: 64.125rem;
        width: 33.125rem;
        margin-right: 8.875rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2{
            font-family: $font-base;
            font-size: 2.375rem;
            line-height: 3.4375rem;
            color: $color-black;
            text-align: center;
            padding-top: 12.5rem;
    
            &::after{
                content: "";
                background-image: url(../../assets/Decoration.svg);
                background-repeat: no-repeat;
                background-position: center;
                display: block;
                height: 2.0625rem;
                //padding: 1.5625rem;
                padding: 2.125rem;
                //margin-bottom: 4.0625rem;
            }
        }

    }

}

.form{

    &__field{
        display:flex;
        flex-direction: column;
        width:16rem;
        padding-left: 1rem;
        padding-top: 2.5rem;

        &-error{
            color: red;
            font-size: .9rem;
            //border-bottom: 1px solid red;
        }

        &-label{
            font-family: $font-base, Semibold;
            font-weight: 600;
            font-size: 1rem;
            line-height: 3.125rem;
            letter-spacing: 0px;
            color: $color-black;
            text-align: left;
        }

        &-input{
            font-size: 1.125rem;
            //line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
            border:none;
            border-bottom: 1px solid $color-black;
            background-color: rgba(255, 255, 255, 0);

            &-error{
                font-size: 1.125rem;
                //line-height: 24px;
                letter-spacing: 0px;
                text-align: left;
                border:none;
                border-bottom: 1px solid red;
                background-color: rgba(255, 255, 255, 0);
            }

        }

        &-textarea{
            display:flex;
            flex-direction: column;
            padding-left: 1rem;
            padding-top:2.5rem;
            width:100%;
            
            .textarea{
                height: 7.5rem;
                font-size: 1.125rem;
                //line-height: 24px;
                letter-spacing: 0px;
                text-align: left;
                border:none;
                border-bottom: 1px solid $color-black;
                background-color: rgba(255, 255, 255, 0);
                resize: vertical;

                &-error{
                    height: 7.5rem;
                    font-size: 1.125rem;
                    //line-height: 24px;
                    letter-spacing: 0px;
                    text-align: left;
                    border:none;
                    border-bottom: 1px solid red;
                    background-color: rgba(255, 255, 255, 0);
                    resize: vertical;
                }
            }
        }

    }

    &__group{
        display: flex;
        justify-content: space-between;
    }

    &__submit{
        display: flex;
        justify-content: flex-end;

        &-button{
            margin-top: 2.75rem;
            background-color: rgba(255, 255, 255, 0);
            border: 0.75px solid $color-black;
            width: 9.375rem;
            height: 3.125rem;
            font-family: $font-base, Ligth;
            font-size: 18px;
            color: $color-black;
            text-align: center;
            line-height: 2rem;
            letter-spacing: 0px;
            cursor: pointer;
        }
    }
}

.footer{
    display: flex;
    justify-content: center;

    //width: 100%;

    &__copyrights{
        font-size: 1.125rem;
        color: $color-black;
        line-height: 1.9rem;
        letter-spacing: 0px;
        transform: translate(0, 100%);
    }

    &__icon{
        width: 1.875rem;
        height: 1.875rem;
        margin-left: 1.25rem;
        &:last-child{
            margin-right: 8.875rem;
        }

        &-box{
            display: flex;
            justify-content: flex-end;
            //width: 50%;
            padding-bottom: 1.25rem;
        }
    }

}

.success{
    font-size: 1.125rem;
    color: green;
}

.hide{
    display: none;
}



