.steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h2{
        font-family: $font-base;
        font-size: 2.375rem;
        line-height: 3.4375rem;
        color: $color-black;
        padding-top: 3.4375rem;

        &::after{
            content: "";
            background-image: url(../../assets/Decoration.svg);
            background-repeat: no-repeat;
            background-position: center;
            display: block;
            height: 2.0625rem;
            //padding: 1.5625rem;
            padding: 2.125rem;
            //margin-bottom: 4.0625rem;
        }
    }

    &__container{
        display: flex;
        justify-content:space-evenly;
        background-color: $color-light-grey;
        height:20.3125rem;
        padding: 4.4375rem;
        
    }

    &__single{
        width: 10.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // &__icon{
    //     //align-self: center;
    //     margin:0 auto;
    // }
    &__title{
        font-size: 1.125rem;
        color: $color-black;
        letter-spacing: 0px;
        line-height: 1.5rem;
        text-align: center;

        &::after{
            content: "";
            display: inline-block;
            height: 1px;
            width: 90px;
            background: #222;
            //align-self: center;
            //flex-grow: 1;
            //padding: 10px;
            transform: translate(0, -7px);

        }

        strong{
            display: inline-block;
            padding: 10px 0 0 0;
            color:$color-black;
            //width: 50px;
        }
    }

    &__description{
        text-align: center;
        font-size: 1rem;
        line-height: 18px;
        color: $color-black;
        letter-spacing: 0px;
    }

    button{
        margin-top: 2.1875rem;
        margin-bottom: 5rem;
    }
}